DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,linker.dev.realtyhub.cloud
DJANGO_CSRF_TRUSTED_ORIGINS=https://linker.dev.realtyhub.cloud
SESSION_COOKIE_SECURE=1
CSRF_COOKIE_SECURE=1
POSTGRES_DB=content_linker
POSTGRES_USER=content_linker
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=db
POSTGRES_PORT=5432
REDIS_URL=redis://redis:6379/0
META_VERIFY_TOKEN=change-me
META_APP_SECRET=
META_ACCESS_TOKEN=
YOUTUBE_API_KEY=
GOOGLE_YOUTUBE_CLIENT_ID=
GOOGLE_YOUTUBE_CLIENT_SECRET=
GOOGLE_YOUTUBE_REDIRECT_URI=https://linker.dev.realtyhub.cloud/oauth/youtube/callback/
GOOGLE_YOUTUBE_CREDENTIAL_KEY=
META_APP_ID=
META_APP_SECRET=
META_INSTAGRAM_REDIRECT_URI=https://linker.dev.realtyhub.cloud/oauth/instagram/callback/
META_INSTAGRAM_GRAPH_VERSION=v25.0
META_INSTAGRAM_AUTO_REDIRECT_URI=https://linker.dev.realtyhub.cloud/oauth/instagram/auto/callback/
GOOGLE_YOUTUBE_AUTO_REDIRECT_URI=https://linker.dev.realtyhub.cloud/oauth/youtube/auto/callback/
